@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #4c4895;
  --color-foreground: #94a3b8l;
  --color-foreground-black: #1e293b;
  --color-background: #f8fafc;
  --color-orange: #ee632b;
}

@layer components {
  .smooth-transition {
    @apply transition-all ease-in-out duration-200;
  }
}

th, td {
  border-radius: 10px;
  padding: 10px 0px;
}


/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}